# Ignore system files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore npm/node 
node_modules/
package-lock.json

# Ignore temporary files
*.tmp
*.swp
*.bak

# Ignore IDE/project config files
.vscode/
.idea/
*.code-workspace

# Ignore build/output folders 
dist/
build/

# Ignore
/media/
